root: true
parser: babel-eslint
extends:
  - eslint:recommended
  - plugin:react/recommended
env:
  commonjs: true
  node: true
  browser: true
  es6: true
parserOptions:
  sourceType: module
plugins:
  - react
settings:
  react:
    pragma: React
    version: detect
rules:
  # Possible Errors
  no-console: 'off'
  # Best Practices
  accessor-pairs: error
  array-callback-return: error
  block-scoped-var: error
  consistent-return: error
  curly: error
  dot-location:
    - error
    - property
  dot-notation: warn
  eqeqeq:
    - error
    - always
  no-alert: error
  no-caller: error
  no-case-declarations: 'off'
  no-else-return: warn
  no-eval: error
  no-extend-native: error
  no-extra-bind: error
  no-extra-label: error
  no-floating-decimal: error
  no-implicit-coercion:
    - error
    - allow: ["!!"]
  no-implicit-globals: error
  no-implied-eval: error
  no-iterator: error
  no-labels: error
  no-lone-blocks: error
  no-multi-spaces: error
  no-multi-str: error
  no-new: error
  no-new-func: error
  no-new-wrappers: error
  no-octal-escape: error
  no-proto: error
  no-restricted-properties:
    - error
    - property: __defineGetter__
      message: Please use Object.defineProperty instead.
    - property: __defineSetter__
      message: Please use Object.defineProperty instead.
  no-return-assign: error
  no-return-await: error
  no-script-url: error
  no-self-compare: error
  no-sequences: error
  no-unmodified-loop-condition: error
  no-useless-call: error
  no-useless-concat: error
  no-useless-return: error
  no-void: error
  no-with: error
  radix:
    - error
    - always
  require-await: error
  wrap-iife:
    - error
    - inside
  yoda: error
  # Variables
  no-label-var: error
  no-restricted-globals: error
  no-shadow: error
  no-undef-init: error
  no-unused-vars:
    - error
    - varsIgnorePattern: React
      ignoreRestSiblings: true
  no-use-before-define:
    - error
    - functions: false
  # Stylistic Issues
  array-bracket-newline:
    - error
    - consistent
  array-bracket-spacing:
    - error
    - never
  array-element-newline:
    - error
    - consistent
  brace-style: error
  comma-dangle:
    - error
    - never
  comma-spacing:
    - error
    - before: false
      after: true
  comma-style:
    - error
    - last
  computed-property-spacing:
    - error
    - never
  func-call-spacing:
    - error
    - never
  function-paren-newline:
    - error
    - consistent
  implicit-arrow-linebreak:
    - error
    - beside
  indent:
    - error
    - 4
    - SwitchCase: 1
      outerIIFEBody: 1
  jsx-quotes:
    - error
    - prefer-double
  key-spacing:
    - error
    - beforeColon: false
      afterColon: true
      mode: strict
  keyword-spacing:
    - error
    - before: true
      after: true
  lines-between-class-members:
    - error
    - always
  max-len:
    - error
    - code: 140
      ignoreStrings: true
  multiline-ternary:
    - error
    - always-multiline
  no-inline-comments: error
  no-multi-assign: error
  no-multiple-empty-lines:
    - error
    - max: 1
      maxEOF: 1
  no-nested-ternary: error
  no-tabs: error
  no-trailing-spaces: error
  no-whitespace-before-property: error
  object-curly-spacing:
    - error
    - always
  operator-linebreak:
    - error
    - before
    - overrides:
        "?": before
        ":": before
  padded-blocks:
    - error
    - blocks: never
      switches: never
    - allowSingleLineBlocks: false
  padding-line-between-statements:
    - error
    - blankLine: always
      prev: "*"
      next:
        - continue
        - return
        - class
        - export
  quote-props:
    - error
    - as-needed
    - unnecessary: true
      numbers: true
  quotes:
    - error
    - single
    - allowTemplateLiterals: true
  semi:
    - error
    - always
  semi-spacing: error
  semi-style:
    - error
    - last
  space-before-blocks: error
  space-before-function-paren:
    - error
    - never
  space-infix-ops:
    - error
    - int32Hint: false
  # ECMAScript 6
  arrow-spacing:
    - error
    - before: true
      after: true
  no-confusing-arrow:
    - error
    - allowParens: true
  no-duplicate-imports:
    - error
    - includeExports: true
  no-useless-computed-key: error
  no-useless-rename: warn
  no-var: error
  object-shorthand:
    - error
    - always
  prefer-arrow-callback: error
  # React plugin
  react/boolean-prop-naming:
    - error
    - rule: "(^(is|has|can)[A-Z]([A-Za-z0-9]?)+)|(disabled)"
  react/button-has-type: error
  react/display-name: 'off'
  react/no-access-state-in-setstate: error
  react/no-array-index-key: error
  react/no-children-prop: error
  react/no-danger: error
  react/no-danger-with-children: error
  react/no-direct-mutation-state: error
  react/no-find-dom-node: error
  react/no-is-mounted: error
  react/no-multi-comp: error
  react/no-string-refs: error
  react/no-this-in-sfc: error
  react/no-unescaped-entities: error
  react/no-unknown-property: error
  react/prefer-es6-class:
    - error
    - always
  react/prefer-stateless-function: error
  react/prop-types: warn
  react/react-in-jsx-scope: error
  react/require-render-return: error
  react/self-closing-comp: error
  react/void-dom-elements-no-children: error
  # JSX-specific rules
  react/jsx-closing-bracket-location: error
  react/jsx-curly-spacing:
    - error
    - when: never
  react/jsx-equals-spacing:
    - error
    - never
  react/jsx-first-prop-new-line:
    - error
    - multiline
  react/jsx-no-bind:
    - error
    - allowArrowFunctions: true
  react/jsx-no-duplicate-props: error
  react/jsx-no-literals: warn
  react/jsx-pascal-case: error
  react/jsx-props-no-multi-spaces: error
  react/jsx-tag-spacing:
    - error
    - closingSlash: never
      afterOpening: never
      beforeClosing: never
      beforeSelfClosing: always
