.board {
    min-height:  100vh;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    display: flex;
    flex-direction: column;
}

.board .board-taskbar-container {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: white;
}